name: Run Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test_application:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update local toolchain
        run: |
          rustup update

      - name: Toolchain info
        run: |
          cargo --version --verbose
          rustc --version
          cargo clippy --version          

      - name: Run Tests
        run: |
          cargo check
          cargo test --all          

      - name: Ask clippy to check the code
        run: |
          cargo clippy --all-targets --all-features -- -D warnings
